.body{
  background-image: image-url("IMG_5764.jpg");
}
.main{
  background-image: image-url("IMG_7519.JPG");
}
.form-main{
  background-image: image-url("IMG_7519.JPG");
}
.pet-profile{
  background-image: image-url("IMG_7519.JPG");
}
.pet-health{
  background-image: image-url("IMG_7519.JPG");
}
.pet-care{
  background-image: image-url("IMG_7519.JPG");
}
.pet-memo{
  background-image: image-url("IMG_7519.JPG");
}
.diary-cards{
  background-image: image-url("IMG_7561.jpg");
}
.pet___btn{
  background-image: image-url("IMG_7563.JPG");
}
.account-page__inner{
  background-image: image-url("IMG_7519.JPG");
}
