/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
  font-family: 'Hiragino Kaku Gothic PnoN',sans-serif;
}

body {
  color: #3b4043;
  background-color: rgb(254, 236, 217);
  width: 100vw;
}

li {
  list-style: none;
}
.diary-card__img{
  height: 100vh;
  width:300vw;
}
.card__imgs{
  content: center;
}
img {
  max-width: 70%;
  vertical-align: bottom;
  padding:0 0 10px 0;
  margin-left: 90px;
}
/* Diary関連 */

.main-diary{
  background-color: rgb(247, 240, 230);
}
.diary-card__img{
  max-width:100%;
  padding: 50px;
}
.diary-card__wrapper{
  flex-wrap:wrap;
  justify-content: space-around;
  align-items: center;
  min-height: calc(100vh - 100px);
  padding: 0 200px;
  background-color: rgb(235, 204, 162);
  width: calc(100vw - 400px);
  margin-left: 150px;
  }
.diary__manage{
  display: flex;
  justify-content: center;
  }
.diary_edit{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: rgb(255, 255, 255);
  text-decoration: none;
  user-select: none;
  border: 2px #ffffff solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin: 4px;

  }
.diary_edit a {
  color:rgb(108, 108, 112);
  }
.diary_delete{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: rgb(255, 255, 255);
  text-decoration: none;
  user-select: none;
  border: 2px #ffffff solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin: 4px;
  }

.diary_delete a {
  color:rgb(108, 108, 112);
  }

.diary-card{
  width:30vw;
  }
.diary-cards{
  width: 43vw;
  background-color: burlywood;
  padding:20px;
  margin: 10px 30px 10px 0;
 }
.card-detail{
  width: 70%;
  height: 100px;
  text-align: center;
  background-color: white;
  border: 2px #e9e2c4 solid;
  margin-left: 90px;
  }

a {
  text-decoration: none;
  color: #3b4043;
  }
  .card__diary{
  border-color: white;
  }
.card__date{
  color:rgb(129, 129, 126);
  
}
.text{
  height: auto;
  color:rgb(129, 129, 126);
  border-top: 2px #e9e2c4 solid;
}

/* ヘッダー */
.main{
  background-color:rgb(254, 236, 217);
  }
.header {
  background-color: rgb(133, 150, 149);
  margin-bottom: 30px;
  padding: 20px 0;
   
  }
.inner {
  width: 100vh;
  padding-left: 60px;
  }
.nav {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  margin: 0 0px;
}
.logo {
  width: 200px;
}
.nav__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: rgb(255, 255, 255);
  text-decoration: none;
  user-select: none;
  border: 1px #ffffff solid;
  border-radius: 3px;
  transition: 0.4s ease;
}
.nav__btn:hover{
  color: #fff;
  background: #c2c2bf;
}

.nav__diary{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: rgb(255, 255, 255);
  text-decoration: none;
  user-select: none;
  border: 1px #ffffff solid;
  border-radius: 3px;
  transition: 0.4s ease;
}

.nav__logout{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: rgb(255, 255, 255);
  text-decoration: none;
  user-select: none;
  border: 1px #ffffff solid;
  border-radius: 3px;
  transition: 0.4s ease;
}
.nav__logout:hover{
  opacity: 0.5;
}

/* フォーム周り */
.form-inner{
  width: 100vw;
  margin: 100px;
}
.form__wrapper{
  min-height: calc(100vh - 161px);
  padding-left: 500px;
  
}
.page-heading{
  color:rgb(119, 116, 114);
}
.form__text {
  width: 50%;
}
.form-heading{
  color:rgb(119, 116, 114);
}
.field{
  margin: 10px 0;
  color:rgb(97, 95, 93);
}

.actions{
  margin-bottom: 40px;
}
.form-notice{
  color:rgb(97, 95, 93);
}
.form__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #c2c5c4;
  border: 1px #ffffff solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}

.form__btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

/* メイン */
.greeting{
  margin: 20px 20px 20px 20px;
  padding-left: 50px;
}
.greeting__link{
 font-size: 20px;
}
.page-heading {
  font-size: 25px;
  padding: 20px 0 0 0 ;
}
.card__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  min-height: calc(100vh - 100px);
  padding: 10px;
  background-color: rgb(238, 195, 181);
  width:80vw ;
  margin-left: 78px;
  
}

.card {
  width: calc((100% - 40px) / 3);
  margin-right: 40px;
  padding:10px;
}
.card__title {
  display: block;
  font-size: 20px;
  margin-left: 50px;
  color: white;
  text-align: center;
}
.card__summary {
  font-size: 16px;
}
.card__user {
  display: block;
  font-size: 12px;
  color: #999;
  text-align: right;
  text-decoration: underline;
}


/* 詳細ページ */
.pet--tag{
  background-color: rgb(190, 189, 182);
  color:teal;
  text-align: center;
  height: 50px;
  padding: 15px;
}

.title{
  display: flex;
  justify-content: space-between;
}
.pet--profile{
  width: 100%;
}
.pet-profile{
  border-radius: 2px;
  margin: 20px 38vw;
  padding:20px;
  background-color: rgb(248, 247, 240);
}

.pet-image-card{
  background-color: rgb(238, 195, 181);
}
.pet-health{
  border-radius: 2px;
  margin: 20px 38vw;
  padding:20px;
  background-color: rgb(255, 255, 255);
}
.pet-care{
  border-radius: 2px;
  margin: 20px 38vw;
  padding:20px;
  background-color: rgb(255, 255, 255);
}

.pet-memo{
  border-radius: 2px;
  margin: 20px 38vw;
  padding: 20px;
  background-color: rgb(255, 255, 255);
}

.pet__wrapper{
  height: 100px;
  padding-top: 30px;
}

.pet_wrapper{
  height: 100px;
  background-color: rgb(251, 201, 108);
}
.pet--wrapper{
  background-color: rgb(251, 201, 108);
}

.pet__heading{
  font-size: 25px;
  text-align: center;
  color:rgb(78, 82, 81);
  padding: 20px;
}
.pet__user{
  display: block;
  font-size: 16px;
  color: #999;
  text-align: center;
  text-decoration: underline;
}
.pet__image{
  width: 40%;
  margin: 10px auto;
  padding-top: 30px; 
}

.pet__detail{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 10px;
  color:rgb(122, 120, 120);
}
.detail__title{
  font-size: 12px;
  color: #999;
}
.detail__message{
  font-size: 17px;
}
.pet__manage{
  display: flex;
  justify-content: center;
  padding-top: 16px;
}

.pet__body{
  justify-content: space-between;
  padding: 0 30px 30px 180px;
}
.pet___body{
  display: flex;
}
.pet__btn{
  padding: 0 100px;
  width: calc(100vw - 500px);
  display: flex;
  justify-content: space-around;
  background-color: rgb(238, 195, 181);
  margin: 0 250px;
}

.pet___btn{
  color: white;
  padding: 15px;
  width: 7vw;
  background-color:  rgb(255, 255, 255);
  text-align: center;
  margin: 15px 0;
}
.p{
  height: 30px;
}


/* ユーザーページ */
.user__wrapper{
  min-height: calc(100vh - 161px);
}
.table{
  border-collapse: collapse;
  margin-bottom: 32px;
  width: 50%;
}
.table__col1{
  text-align: left;
  font-weight: bold;
  background: #fafafa;
  border-collapse: collapse;
  border: 1px solid #f5f5f5;
  width: 30%;
  padding: 8px;
}
.table__col2{
  text-align: left;
  border: 1px solid #f5f5f5;
  border-collapse: collapse;
  width: 70%;
  padding: 16px 8px;
}
.user__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.account-page{
  background-color: rgb(238, 195, 181);
}
.account-page .account-page__inner {
  width: 980px;
  margin: 60px auto;
  padding: 60px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.account-page .account-page__inner .account-page__inner--left, .account-page .account-page__inner .account-page__inner--right {
  float: left;
  width: 50%;
}
.account-page .account-page__inner:after {
  clear: both;
  content: "";
  display: block;
  color:rgb(97, 95, 93);
}
.account-page .account-page__header h2 {
  margin-bottom: 10px;
  letter-spacing: 3px;
  font-size: 40px;
  font-weight: 200;
  color:rgb(97, 95, 93);
}
.account-page .account-page__header h2:after {
  content: "";
  display: block;
  width: 60px;
  margin-top: 5px;
  border-bottom: 1px solid #7a7979;
}
.account-page .account-page__header h5 {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 200;
  color: rgb(173, 166, 166);
}
.account-page .account-page__header .btn {
  margin-top: 20px;
  color: #fff;
  background-color: #ccc;
  font-size: 14px;
}
.account-page .account-page__header a{
  color: rgb(173, 166, 166);
}
.account-page .field {
  margin-bottom: 10px;
}
.account-page .field .field-label {
  padding: 10px 0;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 200;
}
.account-page .field .field-label i {
  font-size: 11px;
}
.account-page .field .field-input input {
  width: 100%;
  padding: 10px;
  letter-spacing: 1px;
}
.account-page .btn {
  display: inline-block;
  height: 50px;
  padding: 0 30px;
  line-height: 50px;
  letter-spacing: 1px;
  text-align: center;
  border: none;
  border-radius: 2px;
}
.account-page input[type=submit] {
  float: left;
  margin-top: 20px;
  color: #fff;
  background-color: #8b8b8b;
  margin-left: 153px;
}
.account-page .field-label .field_with_errors {
  display: inline-block;
  color: #d65f4c;
  font-weight: 400;
}
.account-page .field-input .field_with_errors {
  position: relative;
}
.account-page .field-input .field_with_errors:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 5px;
  background-color: #d65f4c;
}

#error_explanation {
  margin: 20px 0;
  padding: 20px 30px;
  border: 1px solid #ddd;
  border-radius: 2px;
}
#error_explanation h2 {
  margin-bottom: 10px;
  color: #d65f4c;
  font-size: 14px;
}
#error_explanation ul {
  margin: 0;
  padding-left: 17px;
  list-style: square;
}
#error_explanation li {
  margin: 0;
  padding: 0;
  font-size: 13px;
}



/* フッター */

.footer {
  background-color: rgb(133, 150, 149);
  padding: 15px 0;
  margin-top: 30px;
  
 
}
.copyright {
  text-align: center;
  color: #fff;
  font-size: 10px;
}


/* タブレット対応 */
@media (max-width: 1024px) {
  .inner {
    width: 90%;
    margin: 0 auto;
  }
  .page-heading {
    font-size: 24px;
  }
  .card {
    width: 48%;
    margin-bottom: 40px;
  }
  .pet_image{
    width: 10%;
  }
}

 /* スマホ表示 */
@media (max-width: 599px) {
  .logo {
    width: 120px;
  }
  .page-heading {
    font-size: 20px;
  }
  .card {
    width: 100%;
    margin-bottom: 60px;
  }
  .card__title {
    font-size: 18px;
  }
  .card__summary {
    font-size: 14px;
  }
  .pet_image{
    width: 100%;
  }
  .table{
    width: 100%;
  }
}